header {
  display: flex;
  text-align: center;
  height: 90px;
}
.fa-arrow-left {
  align-self: center;
  font-size: 1.2em;
  color: shade($color-white, 70);
  text-decoration: none;
  padding-left: 50px;
}
