header {
  position: relative;
  text-align: center;
  height: 10vh;
}
.fa-arrow-left {
  position: absolute;
  font-size: 1.2em;
  left: 5vw;
  padding-top: 3.8vh;
  color: shade($color-white, 70);
  text-decoration: none;
}
