/*	    
    Reset param from Eric Meyer
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 18px;
}

.logo {
  width: 43vw;
  padding-top: 19px;
  padding-bottom: 10px;
}
.logo--small {
  width: 30vw;
  filter: invert(1);
}

img {
  max-width: 100vw;
  max-height: 100vh;
}

.btn {
  font-size: 14px;
  font-weight: bold;
  border-radius: 50px;
  border-style: none;
  color: white;
  background: linear-gradient(to top left, #9256dc, 50%, #ff7ad9);
  padding: 15px 20px 15px 20px;
  box-shadow: 0px 2px 4px #a1a1a1;
}

header {
  position: relative;
  text-align: center;
  height: 55px;
}

/* a modifier pour s'adapter a la taille de l'ecran*/
.fa-arrow-left {
  position: absolute;
  top: 12px;
  left: 15px;
}

footer {
  background-color: #333333;
  height: 200px;
  padding-left: 20px;
  padding-top: 10px;
}
footer li {
  font-size: 16px;
  padding-top: 12px;
}
footer a {
  text-decoration: none;
  color: white;
}
footer .fa-cutlery {
  padding-right: 15px;
  padding-left: 4px;
}
footer .fa-handshake-o {
  padding-right: 10px;
}

.loadingscreen {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 1001;
  background: #fff;
  animation: whitescreen 3000ms forwards;
}
.loadingscreen .preloader {
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #9256dc transparent #9256dc transparent;
  animation: preloader 1000ms linear 3;
}

@keyframes whitescreen {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.infoposition {
  height: 30px;
  text-align: center;
  padding-top: 15px;
  background-color: #e3e3e3;
  box-shadow: inset 0 4px 8px -5px rgba(0, 0, 0, 0.3);
  font-weight: bold;
  font-size: 15px;
}
.infoposition__name {
  padding-left: 16px;
}

.fa-map-marker {
  font-size: 18px;
}

.intro {
  height: 600px;
}

.catch {
  text-align: center;
  background-color: #f0f0f0;
  height: 195px;
  padding: 30px 0px 30px 0px;
}
.catch__title {
  font-weight: bold;
  font-size: 24px;
}
.catch__txt {
  padding-top: 18px;
  padding-bottom: 30px;
  font-size: 18px;
}

.op {
  padding: 40px 20px 0px 20px;
}
.op .fa {
  padding-right: 20px;
}
.op .fa-mobile {
  font-size: 26px;
}
.op .fa-list-ul {
  font-size: 20px;
}
.op .fa-cutlery {
  font-size: 20px;
  color: #9256dc;
}
.op__title {
  font-size: 22px;
  font-weight: bold;
  padding-bottom: 0px;
}
.op__item {
  border-style: none;
  border-radius: 20px;
  box-shadow: 2px 3px 10px #d6d6d6;
  padding: 24px 0px 24px 8px;
  margin-top: 20px;
  margin-left: 10px;
  background-color: #f0f0f0;
  font-weight: bold;
  font-size: 17px;
}
.op__item--plain {
  background-color: #f4eefc;
}
.op__nbr {
  position: relative;
  left: -20px;
  color: white;
  border-radius: 100px;
  background-color: #9256dc;
  padding: 4px 9px 4px 9px;
  font-size: 15px;
}

.link {
  background-color: #f0f0f0;
  margin-top: 55px;
  padding: 60px 0px 40px 0px;
}
.link__title {
  font-size: 26px;
  font-weight: bold;
  padding-left: 20px;
  padding-bottom: 5px;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: white;
  margin: 20px;
  height: 250px;
  text-decoration: none;
  color: black;
}
.card__pic {
  display: block;
  object-fit: cover;
  height: 70%;
  border-radius: 20px 20px 0 0;
}
.card__pic--new {
  position: absolute;
  background-color: #98e2cf;
  font-size: 15px;
  font-weight: bold;
  color: #5b887c;
  padding: 8px 10px 6px 10px;
  margin-top: 15px;
  margin-left: 60vw;
  border-radius: 2px;
}
.card__footer {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
.card__title {
  font-weight: bold;
  padding-bottom: 7px;
}
.card .fa-heart-o {
  padding: 10px;
  font-size: 25px;
}
.card .fa-heart-o:hover {
  background: linear-gradient(#9256dc, #ff7ad9);
}

/*# sourceMappingURL=style.css.map */
