.restaurant {
  background: shade($color-white, 8);
  .showcase {
    overflow: hidden;
    img {
      position: relative;
      width: 100%;
      object-fit: cover;
      @include responsive-to(s) {
        top: -170px;
      }
      @include responsive-to(l) {
        top: -400px;
      }
    }
  }
}

form {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -30px;
  border-radius: 30px 30px 0 0;
  background: shade($color-white, 8);
  padding: 15px;
  @include responsive-to(s) {
    top: -200px;
  }
  @include responsive-to(l) {
    top: -600px;
  }
  @include responsive-to(l) {
    display: grid;
    grid-template: 59px 1fr 136px / 1fr 1fr 1fr;
    column-gap: 20px;
  }
  .bypass {
    grid-column: 1 / 4;
    align-self: center;
    text-align: center;
    width: 100%;
    input {
      width: 40vw;
      margin-top: 50px;
      margin-bottom: 40px;
    }
  }
}

.heading {
  display: flex;
  grid-column: 1 / 4;
  justify-content: space-between;
  align-items: center;
  font-family: $font-stack-title;
  font-size: 26px;
  padding-top: 15px;
  .fa-heart-o {
    position: relative;
    color: shade($color-white, 56);
    padding: 10px;
    font-size: 24px;
    &:hover,
    :active,
    :visited {
      .fa-heart {
        opacity: 1;
        transform: scale(1);
      }
    }
  }
  .fa-heart {
    position: absolute;
    left: 9px;
    top: 9px;
    z-index: 2;
    font-size: 26px;
    color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(
      to top,
      tint($color-secondary, 10),
      50%,
      tint($color-primary, 10)
    );
    -webkit-background-clip: text;
    -moz-background-clip: text;
    opacity: 0;
    transform: scale(0);
    transition: transform 200ms ease-in-out, opacity 200ms;
  }
}
.starter,
.main_course,
.dessert {
  &__title {
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 5px;
    color: shade($color-white, 70);
  }
  &__underline {
    background-color: $color-tertiary;
    height: 3px;
    width: 46px;
  }
  &__card {
    display: flex;
    cursor: pointer;
    overflow: hidden;
    opacity: 0;
    height: 64px;
    margin-top: 15px;
    background: $color-white;
    border-radius: 15px;
    box-shadow: 2px 3px 10px shade($color-white, 16);
    &:hover > div + div {
        position: relative;
        @include responsive-to(xs){
          position: absolute;
        }
      transform: translate(-64px, 0);
      & .fa-check-circle {
        transform: rotate(360deg);
      }
    }
  }
  &__desc {
    display: flex;
    flex-direction: column;
    padding: 10px 0 10px 10px;
    width: 80%;
    @include ellipsis;
    &__name {
      @include ellipsis;
    }
    &__spec {
      @include ellipsis;
      font-weight: 300;
      padding-top: 8px;
      font-size: 16px;
    }
  }
  &__animation {
    display: flex;
    position: absolute;
    right: -64px;
    transition: transform 300ms ease-in-out;
  }
  &__price {
    align-self: flex-end;
    font-weight: normal;
    padding-bottom: 10px;
    padding-right: 10px;
  }
  &__checkbox {
    display: flex;
    background: $color-tertiary;
    color: $color-white;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    & .fa-check-circle {
      font-size: 22px;
      transition: transform 800ms;
    }
  }
}

@for $i from 1 through 10 {
  .animation-#{$i} {
    animation: arise 800ms 350ms * $i ease-out forwards;
  }
}

@keyframes arise {
  0% {
    opacity: 0.1;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#btn__order {
  transition: transform 200ms;
  &:hover {
    transform: scale(1.1);
  }
}
