$color-primary: hsl(267, 66%, 60%);
$color-secondary: hsl(317, 100%, 74%);
$color-tertiary: hsl(165, 56%, 74%);
$color-white: hsl(0, 0%, 100%);

$font-stack: ("Roboto", "Arial", sans-serif);

$font-stack-title: ("Shrikhand", "Arial", sans-serif);


$breakpoints: (
  "xs": 425px,
  "s": 768px,
  "m": 1024px,
  "l": 1440px,
);